<div class="row">
    <div class="col-md-3">
        <app-side-menu-dynamic></app-side-menu-dynamic>
    </div>
    <div class="col-md-6 ">
        <div class="border">
            <app-tweet [allTweets]='allTweets'></app-tweet>
            <!-- 
    ////////////Reply tweet/////////// -->
            <div *ngFor="let t of allTweets; index as i" class="">

                <div *ngFor="let r of t.replies;index as u" class="row">
                    <div class="col-md-1">
                        <img *ngIf="r.user.profileUrl" class="tweetProfile" src="{{r.user.profileUrl}}">
                        <img *ngIf="!r.user.profileUrl" class="tweetProfile" src="/assets/icon/tweet/profile.jpeg">

                    </div>
                    <div class="col-md-11">
                        <div class="d-flex relative">
                            <h4 class="mb-0" (mouseenter)="r.isDisplay=true" (mouseleave)="r.isDisplay=false">
                                {{r.user.name}}
                            </h4>
                            <p class="mx-1 mt-1 dark-grey mb-0"> @{{r.user.username}} .
                                {{r.timestamp  | date: 'fullDate'}}</p>
                            <!-- ///////////////popup -->
                            <div *ngIf="r.isDisplay" class="popup">
                                <img class="tweetProfile mt-2" src="/assets/icon/tweetProfile.jpg">
                                <h4 class="mb-0 ">
                                    <strong>{{r.user.name}}</strong>
                                </h4>
                                <p class="mt-1 dark-grey mb-0">@{{r.user.username}} .
                                    {{r.timestamp  | date: 'fullDate'}}</p>
                                <p><strong>1 </strong><span class="mr-2"> Following</span>
                                    <span><strong>0</strong></span><span> Followers</span></p>
                            </div>


                            <!-- //////////////// -->
                            <div class="ml-auto mb-0">
                                <div class="dropdown">
                                    <i class="fas fa-angle-down dark-grey mt-2 dropdown-toggle"
                                        data-toggle="dropdown"></i>
                                    <div class="dropdown-menu right-dropdown">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#deleteModal"
                                            (click)="confirmOnly(i)"><i class="far fa-trash-alt"></i><span
                                                class="ml-2">Delete</span></a>
                                        <a class="dropdown-item"><i class="fas fa-thumbtack"></i><span class="ml-2">Pin
                                                to your
                                                profile</span></a>
                                        <a class="dropdown-item"><i class="fas fa-pencil-alt"></i><span
                                                class="ml-2">Embed
                                                Tweet</span></a>
                                        <a class="dropdown-item"><i class="ar fa-chart-bar"></i><span class="ml-2">View
                                                Tweet
                                                activity</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <p style="font-size: 20px;"><span class="dark-grey">Replying to </span> <span
                                    class="twitter">@{{t.user.name}} </span></p>
                        </div>
                        <p class="mb-1 dark-grey" style="font-size:16px">{{r.replyText}}
                        </p>
                        <div *ngIf="r.replyImage">
                            <img class="w-100 rounded replyPicSize" src={{r.replyImage}}>
                        </div>

                        <!-- <Retweeted Original tweet> -->
                        <div class="row">
                            <!--     
                    <div *ngIf="t.retweeted" class="col-md-12 retweeted">
                        <div class="d-flex pl-3">
                            <img class="retweetProfile" src="/assets/icon/tweetProfile.jpg">
                            <h4 class="mb-0 ml-2">
                                Muhammad Afaq
                            </h4>
                            <p class="mx-1 mt-1 dark-grey mb-0">@Muhammad15067 . Sep 23</p>
                        </div>
                        <p class="mb-1 pl-3 mb-2" style="font-size:16px">Do you remember when you joined Twitter? I do!
                            #MyTwitterAnniversary
                        </p>
                        <img class="w-100 retweet-round" src="/assets/icon/5.jpeg">
                    </div> -->

                            <!-- ////////////Bottom Icon//////// -->
                            <div class="row mt-3 tweetIcon">
                                <div class="col-md-3 dark-grey p-0">
                                    <i class="far fa-comment-alt comment" (click)="confirmReply(r,i)"
                                        data-toggle="modal" data-target="#myComment"></i>
                                    <!-- <span *ngIf="t.replies">{{t.replies.length}}</span>  -->
                                </div>
                                <div class="col-md-3 dark-grey p-0">
                                    <div class="dropdown">
                                        <i class="fas fa-retweet retweet dropdown-toggle" data-toggle="dropdown"></i>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"><i class="fas fa-retweet"></i>Retweet</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#retweetModal"
                                                (click)="quoteTweet(t)"><i class="fas fa-pencil-alt"></i>Quote Tweet</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- !t.liked -->

                                <div *ngIf="!isReplyLiked(r)" (click)=likedReply(r,u) class="col-md-3 dark-grey p-0">
                                    <i class="far fa-heart heart"></i>
                                    <span *ngIf="r.likes">{{r.likes.length}}</span>
                                </div>

                                <div *ngIf="isReplyLiked(r)" (click)=unlikedReply(r,u) class="col-md-3 dark-grey p-0">
                                    <img class="heartLiked" src='../../assets/icon/tweet/heart.png'>
                                    <span *ngIf="r.likes">{{r.likes.length}}</span>
                                </div>
                                <div class="col-md-3 dark-grey p-0">
                                    <i class="far fa-share-square comment"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 mt-0">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <app-right-menu></app-right-menu>
    </div>

</div>