<!-- 
    ////////////tweet/////////// -->
<div *ngFor="let t of allTweets; index as i" class="">

    <div *ngIf="checkRetweets(t)" class="pt-1">
        <p class="dark-grey mb-1"> <i class="ml-5 fas fa-retweet retweet"></i><strong class="pl-3">{{userData.name}}
                Retweeted</strong></p>
    </div>
    <div class="row">
        <div class="col-md-1">
            <!-- Use params method on Profile -->
            <!-- On click of picture t.user will be send to userservice  -->
            <!-- will route to Profile page using Params ..... And will show Others Profile data & his tweets -->
            <img *ngIf="t.user?.profileUrl" class="tweetProfile cursor" src="{{t.user.profileUrl}}"
                (click)="goToProfile(t.user)">
            <img *ngIf="!t.user?.profileUrl" class="tweetProfile cursor" src="/assets/icon/tweet/profile.jpeg"
                (click)="goToProfile(t.user)">
            <!-- <div class='vl'></div> -->
        </div>
        <div class="col-md-11">
            <div class="d-flex relative">
                <h4 class="mb-0 cursor" (mouseenter)="t.isDisplay=true" (mouseleave)="t.isDisplay=false"
                    (click)="goToProfile(t.user);t.isDisplay=false">
                    {{t.user?.name}}
                </h4>
                <p class="mx-1 mt-1 dark-grey mb-0"> @{{t.user?.username}} . {{t.timestamp  | date: 'fullDate'}}</p>
                <!-- ///////////////popup -->
                <div *ngIf="t.isDisplay" class="popup">
                    <!-- <img class="tweetProfile mt-2" src="/assets/icon/tweetProfile.jpg"> -->
                    <img *ngIf="t.user?.profileUrl" class="tweetProfile mt-2" src="{{t.user.profileUrl}}">
                    <img *ngIf="!t.user?.profileUrl" class="tweetProfile mt-2" src="/assets/icon/tweet/profile.jpeg">
                    <h4 class="mb-0 ">
                        <strong>{{t.user?.name}}</strong>
                    </h4>
                    <p class="mt-1 dark-grey mb-0">@{{t.user?.username}} . {{t.timestamp  | date: 'fullDate'}}</p>
                    <p><strong>1 </strong><span class="mr-2"> Following</span>
                        <span><strong>0</strong></span><span> Followers</span></p>
                </div>
                <!-- //////////////// -->
                <div class="ml-auto mb-0">
                    <div class="dropdown">
                        <i class="fas fa-angle-down dark-grey mt-2 dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="dropdown-menu right-dropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#deleteModal"
                                (click)="confirmOnly(i)"><i class="far fa-trash-alt"></i><span
                                    class="ml-2">Delete</span></a>
                            <a class="dropdown-item"><i class="fas fa-thumbtack"></i><span class="ml-2">Pin to your
                                    profile</span></a>
                            <a class="dropdown-item"><i class="fas fa-pencil-alt"></i><span class="ml-2">Embed
                                    Tweet</span></a>
                            <a class="dropdown-item"><i class="ar fa-chart-bar"></i><span class="ml-2">View Tweet
                                    activity</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cursor" (click)="goToDetails(t)">
                <p class="mb-1 dark-grey" style="font-size:16px">{{t.tweetText}}
                </p>
                <div>
                    <img *ngIf="t.tweetUrl" class="w-100 rounded tweetPicSize" src={{t.tweetUrl}}>
                </div>
            </div>


            <!-- <Retweeted Original tweet> -->
            <div class="row mt-3">
            
                <div *ngIf="t.originalTweet" class="col-md-12 retweeted cursor" (click)="goToDetails(t.originalTweet)">
                    <div class="d-flex pl-3">
                        <img class="retweetProfile" src="{{t.originalTweet.user.profileUrl}}">
                        <h4 class="mb-0 ml-2">
                            {{t.originalTweet.user.name}}
                        </h4>
                        <p class="mx-1 mt-1 dark-grey mb-0">@{{t.originalTweet.user.username}} . {{t.originalTweet.timestamp  | date: 'fullDate'}}</p>
                    </div>
                    <p class="mb-1 pl-3 mb-2" style="font-size:16px">{{t.originalTweet.tweetText}}
                    </p>
                    <img class="w-100 retweet-round tweetPicSize" src={{t.originalTweet.tweetUrl}}>
                </div>

                <!-- ////////////Bottom Icon//////// -->
                <div class="row mt-3 tweetIcon">
                    <div class="col-md-3 dark-grey p-0">
                        <i class="far fa-comment-alt comment" (click)="confirmReply(t,i)" data-toggle="modal"
                            data-target="#myComment"></i>
                        <span *ngIf="t.replies">{{t.replies.length}}</span>
                    </div>
                    <div class="col-md-3 dark-grey p-0">
                        <div class="dropdown">
                            <i *ngIf="!isRetweeted(t)" class="fas fa-retweet retweet dropdown-toggle"
                                data-toggle="dropdown">
                            </i>
                            <i *ngIf="isRetweeted(t)" [class.greenIcon]="isRetweeted(t)"
                                class="fas fa-retweet retweet dropdown-toggle" data-toggle="dropdown">
                            </i>
                            <span *ngIf="t.isRetweet && t.isRetweet.length" [class.greenIcon]="isRetweeted(t)">
                                {{t.isRetweet.length}}</span>

                            <div *ngIf="!isRetweeted(t)" class="dropdown-menu">
                                <a (click)="retweet(t,i)" class="dropdown-item"><i
                                        class="fas fa-retweet"></i>Retweet</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#retweetModal"
                                    (click)="quoteTweet(t)"><i class="fas fa-pencil-alt"></i>Quote Tweet</a>
                            </div>

                            <div *ngIf="isRetweeted(t)" class="dropdown-menu">
                                <a (click)="undoRetweet(t,i)" class="dropdown-item"><i class="fas fa-retweet"></i>Undo
                                    Retweet</a>

                            </div>

                        </div>
                    </div>
                    <!-- !t.liked -->

                    <div *ngIf="!isPostLiked(t)" (click)="likedTweet(t,i)" class="col-md-3 dark-grey p-0">
                        <i class="far fa-heart heart"></i>
                        <span *ngIf="t.likes">{{t.likes.length}}</span>
                    </div>
                    <div *ngIf="isPostLiked(t)" (click)="unlikedTweet(t,i)" class="col-md-3 dark-grey p-0">
                        <img class="heartLiked" src='../../assets/icon/tweet/heart.png'>
                        <span *ngIf="t.likes">{{t.likes.length}}</span>
                    </div>
                    <div class="col-md-3 dark-grey p-0">
                        <i class="far fa-share-square comment"></i>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-100 mt-0">
    </div>
</div>


<!-- _______________________Delete Modal -->

<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="modal-title">Delete Tweet?</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="mb-3">
                    <p>This can't be undone and it will be removed from your profile, the timeline of any accounts that
                        follow you, and from twitter search results. </p>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Close
                </button>
                <button type="button" (click)="deleteTweetFromFirebase()" class="btn btn-danger" data-dismiss="modal">
                    Confirm Delete
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Comment Modal -->
<div *ngIf="originalTweet" class="modal" id="myComment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" (click)="closeModal()" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-1 p-0">
                        <!-- *ngIf="this.originalTweet.user.profileUrl" -->
                        <img *ngIf="!this.originalTweet.user.profileUrl" class="tweetProfile"
                        src="/assets/icon/tweet/profile.jpeg">
                        <img *ngIf="this.originalTweet.user.profileUrl" class="tweetProfile"
                            src={{originalTweet.user.profileUrl}}>
                        <div class='vl'></div>
                    </div>
                    <div class="col-md-11">
                        <div class="d-flex ">
                            <h4 class="mb-0">
                                {{originalTweet.user.name}}
                            </h4>
                            <p class="mx-1 mt-1 dark-grey mb-0">@{{originalTweet.user.username}} . Sep 23</p>

                        </div>
                        <p class="mb-1" style="font-size:16px">{{originalTweet.tweetText}}
                        </p>
                        <img *ngIf="originalTweet.tweetUrl" style="height: 150px;
                        width: 350px;" src={{originalTweet.tweetUrl}}>
                    </div>
                    <div class="col-md-1 p-0"></div>
                    <div class="col-md-11 ">
                        <p style="font-size: 20px;"><span class="dark-grey">Replying to </span> <span
                                class="twitter">@{{originalTweet.user.username}} </span></p>
                    </div>
                </div>


                <!-- ////////////////// -->

                <div class="d-inline-flex" id="">
                    <div>
                        <!-- <i class="fas fa-user-alt profile dark-grey" style="font-size:35px;"></i> -->
                        <img *ngIf="!userData.profileUrl" class="tweetProfile" src="/assets/icon/tweetProfile.jpg">
                        <img *ngIf="userData.profileUrl" class="tweetProfile" src={{userData.profileUrl}}>
                    </div>

                    <div class="mt-2 ml-3">
                        <textarea class="mb-1 dark-grey textareaSize" style="font-size:25px"
                            placeholder="Tweet your reply" [(ngModel)]="replyObj.replyText"></textarea>
                        <div class="row mb-3">
                            <!-- <img  src="/assets/icon/trump.jpeg"> -->
                            <div *ngIf="imageUrl" class="">
                                <img class="modalImage roundModalImage mb-2" [src]="imageUrl">
                                <i (click)="removeImg()" class="fas fa-times mr-3 pointer closeIcon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="mr-auto">
                    <input (change)="onChangeFile($event)" style="visibility: hidden; position: absolute;"
                        accept="image/*" #file class="form-control modalIcon mr-2 p-1" type="file" name="files"
                        multiple>
                    <img class="modalIcon mr-2 p-1" (click)="file.click()" id="modalIcon"
                        src="/assets/icon/tweet/1.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/2.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/3.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/4.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/5.png">
                </div>

                <button type="button" class="btn btn-modal" (click)="replyTweet()" data-dismiss="modal">Reply</button>
            </div>

        </div>
    </div>
</div>


<!-- Retweet Modal with Quote or Without Quote-->

<div *ngIf="qTweet.user" class="modal" id="retweetModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- ////////////////// -->

                <div class="row" id="">
                    <div class="col-md-1 p-0">
                        <!-- <i class="fas fa-user-alt profile dark-grey "
                            style="font-size:35px;"></i> -->
                        <img *ngIf="!userData.profileUrl" style="height:60px;width: 60px;border-radius:50%"
                        src="/assets/icon/tweet/profile.jpeg">
                        <img *ngIf="userData.profileUrl" style="height:60px;width: 60px;border-radius:50%"
                            src={{userData.profileUrl}}>
                    </div>
                    <!-- when retweet with quote -->

                    <div *ngIf="!qTweet.tweetUrl" class="col-md-11 mt-2" id="retweetedText">
                        <textarea class="mb-1 dark-grey textareaSize" style="font-size:25px"
                            placeholder="Add a quote" ></textarea>
                        <div class="row mb-3">
                            <div class="col-md-12 retweeted">
                                <div class="d-flex pl-3">
                                    <img *ngIf="!qTweet.user.profileUrl" class="retweetProfile"
                                    src="/assets/icon/tweet/profile.jpeg">
                                    <img *ngIf="qTweet.user.profileUrl" class="retweetProfile"
                                        src={{qTweet.user.profileUrl}}>
                                    <h4 class="mb-0 ml-2">
                                        {{qTweet.user.name}}
                                    </h4>
                                    <p class="mx-1 mt-1 dark-grey mb-0">@{{qTweet.user.username}} . Sep 23</p>
                                </div>
                                <p class="mb-1 mb-2 pl-3" style="font-size:16px">{{qTweet.tweetText}}
                                </p>
                                <img class="w-100 retweet-round" src={{qTweet.tweetUrl}}>
                            </div>
                        </div>
                    </div>

                    <!-- when retweet with quote & picture -->
                    <div *ngIf="qTweet.tweetUrl" class="col-md-11 mt-2 ">
                        <textarea class="mb-1 dark-grey textareaSize" style="font-size:25px"
                            placeholder="Add a quote" [(ngModel)]="retweetedText"></textarea>
                        <div class="row mb-3">
                            <!-- <img  src="/assets/icon/trump.jpeg"> -->
                            <div *ngIf="imageUrl" class="">
                                <img class="modalImage roundModalImage mb-2" [src]="imageUrl">
                                <i (click)="removeImg()" class="fas fa-times mr-3 pointer closeIcon"></i>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12 retweeted">
                                <div class="d-flex pl-3">
                                    <!-- <img class="retweetProfile" src="/assets/icon/tweetProfile.jpg"> -->
                                    <img *ngIf="!qTweet.user.profileUrl" class="retweetProfile"
                                    src="/assets/icon/tweet/profile.jpeg">
                                    <img *ngIf="qTweet.user.profileUrl" class="retweetProfile"
                                        src={{qTweet.user.profileUrl}}>
                                    <h4 class="mb-0 ml-2">
                                        {{qTweet.user.name}}
                                    </h4>
                                    <p class="mx-1 mt-1 dark-grey mb-0">@{{qTweet.user.username}} .
                                        {{qTweet.timestamp| date : 'longDate'}}</p>
                                </div>
                                <div class="row mb-2 mt-2">
                                    <div class="col-md-4">
                                        <img class="w-100 roundModalImage" src={{qTweet.tweetUrl}}>
                                    </div>
                                    <div class="col-md-8 p-0">
                                        <p class="mb-1 mb-2" style="font-size:16px">{{qTweet.tweetText}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ml-4" id="iconStyle"><i class="fas fa-globe-americas"
                    style="font-size:20px;color: var(--twitterColor);"><span class="ml-2">Everyone can
                        reply</span></i></div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="mr-auto">
                    <input (change)="onChangeFile($event)" style="visibility: hidden; position: absolute;"
                        accept="image/*" #file class="form-control modalIcon mr-2 p-1" type="file" name="files"
                        multiple>
                    <img class="modalIcon mr-2 p-1" id="modalIcon" (click)="file.click()"
                        src="/assets/icon/tweet/1.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/2.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/3.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/4.png">
                    <img class="modalIcon mr-2 p-1" id="modalIcon" src="/assets/icon/tweet/5.png">

                </div>

                <button (click)="retweetWithQuote(qTweet)" type="button" class="btn btn-modal" data-dismiss="modal">Retweet</button>
            </div>

        </div>
    </div>
</div>