<div class="row">
    <div class="col-md-3">
        <app-side-menu-dynamic></app-side-menu-dynamic>
    </div>
    <div class="col-md-3 pr-0">
        <div class="border">
            <div class="d-flex px-3 w-100">
                <h3 class=" p-2 mt-2"><strong>Messages</strong></h3>
                <img class="modalIcon ml-auto mt-3 p-1" id="modalIcon" src="/assets/icon/messages/message.jpg"
                    data-toggle="modal" data-target="#myComment">
            </div>
            <hr>
            <div class="px-2">
                <div class="input-group mb-3 search dark-grey p-2" [class.searchActive]="show == false">
                    <div class="input-group-prepend">
                        <img *ngIf="show" class="icon m-1" src="/assets/icon/search.png">
                        <img *ngIf="!show" class="icon m-1" src="/assets/icon/search-active.png">
                    </div>
                    <input type="text" class="form-control search-bar" placeholder="Search Twitter" id="usr"
                        name="username" (focus)="focusFunction()" (blur)="blurFunction()">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <img class="tweetProfile" src="/assets/icon/tweetProfile.jpg">
                </div>
                <div class="col-md-10">
                    <div class="mt-1">
                        <h4 class="mb-0">
                            Juniad Iqbal
                        </h4>
                        <p class="dark-grey m-0">@JuniLuka</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-md-6 p-0 mt-1">
        <div class="row">
            <div class="col-md-1">
                <img class="tweetProfile" src="/assets/icon/tweetProfile.jpg">
            </div>
            <div class="col-md-10">
                <div class="mt-1">
                    <h4 class="mb-0">
                        Juniad Iqbal
                    </h4>
                    <p class="dark-grey m-0">@JuniLuka</p>
                </div>
            </div>
            <div class="col-md-1 mt-2">
                <img class="modalIcon" src="/assets/icon/messages/Screen Shot 2020-12-30 at 7.jpg">
            </div>
            <hr class="w-100 p-0">
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Juniad Iqbal </strong> <span class="dark-grey m-0">@JuniLuka</span>
                <p class="m-0">Muslim | A proud Pakistani | Freelancer | Software Engineer</p>
                <p class="m-0">Insta : juni_luka</p>
                <div class="mt-2">
                    <p class="m-0"><strong>617</strong><span class="mr-2"> Following</span>
                        <span><strong>171</strong></span><span> Followers</span></p>

                    <p class="dark-grey m-0"><i class="far fa-calendar-alt"></i><span class="ml-2">Joined September
                            2015</span></p>
                </div>
            </div>
            <hr class="w-100">
        </div>
        <div id="chat">
            <div class="row mb-0">
                <div class=" ml-auto mr-3">
                    <p class="chat mb-0">hello juniad bhai kaise hain ap</p>
                </div>
                <br />
            </div>
            <div class="row mt-0">
                <p class="dark-grey ml-auto mr-3">Nov 23, 2020, 2:17 PM <i style="color:var(--twitterColor)"
                        class="fas fa-check"></i></p>
            </div>
        </div>

        <div id="chat">
            <div class="row mb-0">
                <div class=" mr-auto ml-3">
                    <p class="chat2 mb-0">hello juniad bhai kaise hain ap</p>
                </div>
                <br />
            </div>
            <div class="row mt-0">
                <p class="dark-grey mr-auto ml-4">Nov 23, 2020, 2:17 PM <i style="color:var(--twitterColor)"
                        class="fas fa-check"></i></p>
            </div>
        </div>

    </div>
</div>

<!-- Comment Modal -->
<div class="modal" id="myComment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <p class="" style="font-weight: bold;"><strong>New message</strong></p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-3">

                    <div class="input-group mb-3 search dark-grey p-2 mb-0" [class.searchActive]="show == false">
                        <div class="input-group-prepend">
                            <img *ngIf="show" class="icon m-1" src="/assets/icon/search.png">
                            <img *ngIf="!show" class="icon m-1" src="/assets/icon/search-active.png">
                        </div>
                        <input type="text" class="form-control search-bar" placeholder="Search Twitter" id="usr"
                            name="username" (focus)="focusFunction()" (blur)="blurFunction()">
                    </div>
                    <hr class="w-100 mt-0" />
                    <div class="col-md-1 p-0">
                        <img class="tweetProfile" src="/assets/icon/tweetProfile.jpg">
                    </div>
                    <div class="col-md-11 pl-2">
                        <div class="mt-1">
                            <h4 class="mb-0">
                                Juniad Iqbal
                            </h4>
                            <p class="dark-grey m-0">@JuniLuka</p>
                        </div>
                    </div>
                </div>


                <!-- ////////////////// -->

                <div class="d-inline-flex" id="">
                    <div>
                        <!-- <i class="fas fa-user-alt profile dark-grey" style="font-size:35px;"></i> -->
                        <!-- <img *ngIf="!userData.profileUrl" class="tweetProfile" src="/assets/icon/tweetProfile.jpg">
                        <img *ngIf="userData.profileUrl" class="tweetProfile" src={{userData.profileUrl}}> -->
                    </div>

                    <div class="mt-2 ml-3">
                        <!-- <textarea class="mb-1 dark-grey textareaSize" style="font-size:25px"
                            placeholder="Tweet your reply" [(ngModel)]="replyObj.replyText"></textarea> -->
                        <div class="row mb-3">
                            <!-- <img  src="/assets/icon/trump.jpeg"> -->
                            <!-- <div *ngIf="imageUrl" class="">
                                <img class="modalImage roundModalImage mb-2" [src]="imageUrl">
                                <i (click)="removeImg()" class="fas fa-times mr-3 pointer closeIcon"></i>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Next</button>
            </div>

        </div>
    </div>
</div>