.icon {
    width: 30px;
    padding-left: 2px;
}

.search{
    // border: 1px solid black;
    border-radius: 25px;
    background-color:#e6ecf0;
    .search-bar{
        border-radius: 25px !important;
        border:none !important;
    }
    input{
        background-color: transparent;
    }
    input:focus {
        border: none; 
        border-width: 0; 
        box-shadow: none;
    }
}
.searchActive{
    border:1px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

// input{
//     padding-left: 65px;
//     border-radius: 25px;
// }
.background{
    background-color: #e6ecf0;
}
.rounded{
    border-radius: 25px !important;
}
.image{
    width:150px;
    height:150px;
    object-fit: cover;
}
.shade {
    background:#ccd6dd;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(204, 214, 221, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(204, 214, 221, 1);
    box-shadow: 2px 2px 5px 0px  rgba(204, 214, 221, 1);
    object-fit: cover;
   }