<div class="row">
    <div class="col-md-3">
        <app-side-menu-dynamic></app-side-menu-dynamic>
    </div>
    <div class="col-md-6">
        <div class="border">
            <div class="row pt-2">
                <div class="col-md-6 mt-3">
                    <h4><strong>Notifications</strong></h4>
                </div>
                <div class="col-md-6 mt-2">
                    <img class="gear p-1" id="gear" routerLink="/Settings" src="/assets/icon/notifications/gear.png">
                </div>
            </div>
        
            <div class="mt-2">
                <!-- Nav pills -->
                <ul class="row nav nav-pills nav-justified">
                    <li class="nav-item col-md-6">
                        <a class="nav-link active text-center" data-toggle="pill" href="#all">All</a>
                    </li>
                    <li class="nav-item col-md-6">
                        <a class="nav-link text-center" data-toggle="pill" href="#mentions">Mentions</a>
                    </li>
                </ul>
        
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="all">
                        <div class="text-center mt-5">
                            <h3><strong>Nothing to see here — yet</strong></h3>
                            <p> From likes to Retweets and a whole lot more, this is where all the action happens.</p>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="mentions">
                        <div class="text-center mt-5">
                            <h3><strong>Nothing to see here — yet</strong></h3>
                            <p> When someone mentions you, you’ll find it here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">
        <app-right-menu></app-right-menu>
    </div>


